/* Start | Who am I */

#WhoAmI {
    display: flex;
    justify-content: center;
    align-items: center;
}

.WhoAmI {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.WhoAmI .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.WhoAmI .container span {
    font-size: 2rem;
}

.WhoAmI .container p {
    font-size: 3rem;
    align-self: flex-start;
}

.WhoAmI .container p::after {
    content: "|";
    animation: blink infinite;
    animation-duration: calc(var(--transition-time) * 3);
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* End | Who am I */

/* Start | Projects */

#Projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProjectsGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Project {
    border-radius: 10px;
    background-color: #2b2424;
    height: 420px;
    width: 250px;
    overflow: hidden;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* box-shadow: 0 0 0px black; */
    /* animation: shadowMove forwards;
    animation-delay: var(--transition-time);
    animation-duration: calc(var(--transition-time) * 7); */
}

.Project img {
    /* border-radius: 10px; */
    max-width: 100%;
    padding-bottom: 10px;
}

.Project .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.Project .container p {
    font-size: 1.1rem;
    padding: 0 7px;
}

.Project .container a {
    text-decoration: underline;
    margin: auto 0;
    display: flex;
    align-items: center;
}

/* @keyframes shadowMove {
    from {
        box-shadow: 0 0 0px black;
    }
    to {
        box-shadow: 0 0 30px black;
    }
} */

/* End | Projects */

/* Start | Services */

#Services {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ServicesGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Service {
    border-radius: 10px;
    background-color: #2b2424;
    height: 420px;
    width: 250px;
    overflow: hidden;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* box-shadow: 0 0 0px black; */
    /* animation: shadowMove forwards;
    animation-delay: var(--transition-time);
    animation-duration: calc(var(--transition-time) * 7); */
}

.Service img {
    /* border-radius: 10px; */
    max-width: 100%;
    padding-bottom: 10px;
}

.Service .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.Service .container p {
    font-size: 1.1rem;
    padding: 0 7px;
}

/* End | Projects */

/* Start | Services */

#Skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Skill {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.BackgroundLoad {
    width: 400px;
    height: 45px;

    border: 1px solid black;
    border-radius: 10px;

    background-color: gray;
}

.Load {
    width: 0%;
    height: 100%;

    overflow: hidden;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ededed;

    font-size: 16px;

    animation: loadLoader forwards;
    animation-delay: var(--transition-time);
    animation-duration: calc(var(--transition-time) * 3);
}

.Load span {
    /* font-size: 0px; */
    animation: textLoader forwards;
    animation-delay: calc(var(--transition-time) * 0);
    animation-duration: calc(var(--transition-time) * 3);
}

.Load i {
    /* font-size: 0px; */
    animation: textLoader forwards;
    animation-delay: calc(var(--transition-time) * 0);
    animation-duration: calc(var(--transition-time) * 3);
}

/* @keyframes loadLoader {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes textLoader {
    from {
        font-size: 0px;
    }
    to {
        font-size: 16px;
    }
} */

.phpColor {
    background-color: #8892bf;
}

.laravelColor {
    background-color: #ff2d20;
}

.cssColor {
    background-color: #29aae3;
}

/* End | Services */

/* Start | Contact */

#Contact {
    display: flex;
    justify-content: center;
    height: 10vh !important;
}

.Contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* End | Contact */
